<% if @user.errors.any? %>
<h2>The following errors prevented you from signing up</h2>
<ul>
  <% @user.errors.full_messages.each do |msg|%>
  <li>
    <%= msg %>
  </li>
  <% end %>
</ul>
<% end %>

<%= form_for @user do |f|  %>
<div class="form-group">
  <%= f.label :firstname, "First name"  %>
  <%= f.text_field :firstname, class:"form-control" %>
  <%= f.label :lastname, "Last name"  %>
  <%= f.text_field :lastname, class:"form-control" %>
</div>
<div class="form-group">
  <%= f.label :email, "Your Email"  %>
  <%= f.email_field :email, class:"form-control" %>
</div>
<%= f.submit "Sign up!", class: "btn btn-default" %>
<%= link_to "Cancel", root_path, class: "btn btn-warning" %>
<% end %>
