<h2>List of all your todos</h2>
<% @todos.each do |todo| %>
  <div class="row">
    <div class="col-xs-3">
      Title: <b><%= todo.name %></b>
    </div>
    <div class="col-xs-9">
      Description:
      <p>
        <%= todo.description %>
      </p>
      <%= link_to "Details", todo_path(todo), class: "btn btn-primary" %>
      <%= link_to "Edit", edit_todo_path(todo), class: "btn btn-info" %>
      <%= link_to "Delete", todo_path(todo), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
    </div>
  </div>
  <hr />
<% end %>
<%= link_to "Create new todo", new_todo_path, class: "btn btn-success" %>
